body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 25px;
    background-image: url(https://images4.alphacoders.com/112/1127551.jpg);
    background-size: 100%;
}



